# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Envs
.venv/
venv/

# Streamlit
.streamlit/secrets.toml

# Binaries / confidential
*.xlsm
*.xlsx
*.pdf
*.docx
*.pptx

# OS
.DS_Store
Thumbs.db
~$*

# VS Code
.vscode/

# Tests artifacts
.coverage
.pytest_cache/
htmlcov/

# Reports output
reports_out/