# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
.ipynb_checkpoints/

# Entornos
.venv/
venv/

# Streamlit
.streamlit/secrets.toml
# (config.toml SÍ se puede versionar; secrets NO)

# Archivos binarios grandes / confidenciales
*.xlsm
*.xlsx
*.pdf
*.docx
*.pptx
# (sube solo si son públicos/no confidenciales; si necesitas ejemplos, mejor CSV anonimizados)

# SO
.DS_Store
Thumbs.db
~$*

# VSCode
.vscode/
